certifi==2024.6.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
fonttools==4.60.2
idna==3.7
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.23.2
packaging==24.1
pillow==10.3.0
platformdirs==4.2.2
pooch==1.8.2
pyparsing==3.1.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pyvista==0.42.3
pyvistaqt==0.11.1
QtPy==2.4.1
requests==2.32.3
scooby==0.10.0
six==1.16.0
urllib3==2.6.3
vtk==9.3.0

